 a {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
}

.catalog {
    display:inline-block;
    width:110px;
    height:110px;
    margin-left:20px;
}

.selected {
    border:2px solid blue;
    border-radius: 5px;
}

.catalog p {
    text-align: center;
    margin-top: 0;
}

.catalog img {
    height:90px;
    max-width: 90px;
    padding-left: 10px;
}